# Diretórios de build
bin/
obj/

# Diretórios de IDEs
.vscode/
.idea/
.vs/

# Arquivos de configuração do Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

# Arquivos de cache do Rider
.idea/

# Arquivos temporários
*.tmp
*.temp
*.bak

# Arquivos de log
*.log

# Arquivos de pacote NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Arquivos de publicação
.publish/

# Configurações do sistema operacional
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Backup do VS Code
.history/

# Ignorar pastas específicas do repositório
**/bin/
**/obj/
